<h1>Post your blog!</h1>
<form class="blog-form" action="/" method="post">
  <input type="text" name="blog[title]" placeholder="Enter your blog’s title…"><br>
  <textarea name="blog[content]" rows="8" cols="80"></textarea>
  <input type="submit" value="Post">
</form>