<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>

 <head>
 <title>Sinatra Practice</title>
 </head>
 <body>
 <%= yield %>
 </body>
</html>